---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=12&card[exp_year]=2016&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_g9KW02Qtqasrw6Iu9Vj59gMm
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-12-17'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_15DThECP7OfzzeMeLJU5QATE",
          "livemode": false,
          "created": 1419483480,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_15DThECP7OfzzeMe9YuBiUyb",
            "object": "card",
            "last4": "0002",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 12,
            "exp_year": 2016,
            "fingerprint": "qxp6OysZJwyIAwtS",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": null,
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "customer": null
          }
        }
  recorded_at: Thu, 25 Dec 2014 04:58:00 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=300&currency=usd&card=tok_15DThECP7OfzzeMeLJU5QATE&description=test%20for%20stripe%20wrapper
    headers:
      Authorization:
      - Bearer sk_test_g9KW02Qtqasrw6Iu9Vj59gMm
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-12-17'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_15DThFCP7OfzzeMewTMbNzhz"
          }
        }
  recorded_at: Thu, 25 Dec 2014 04:58:01 GMT
recorded_with: VCR 2.9.2
