---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_15Dn6tCP7OfzzeMeY6AxOK0m&description=payment%20from%20user4%2C%20user4%40email.com
    headers:
      Authorization:
      - Bearer sk_test_g9KW02Qtqasrw6Iu9Vj59gMm
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-12-17'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_15Dn6uCP7OfzzeMeAq2egPia",
          "object": "charge",
          "created": 1419558108,
          "livemode": false,
          "paid": true,
          "amount": 999,
          "currency": "usd",
          "refunded": false,
          "captured": true,
          "card": {
            "id": "card_15Dn6tCP7OfzzeMe98lezV4O",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 11,
            "exp_year": 2016,
            "fingerprint": "M9CveyNNxdxZBhBM",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "customer": null
          },
          "balance_transaction": "txn_15Dn6uCP7OfzzeMeFLuL5akl",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "payment from user4, user4@email.com",
          "dispute": null,
          "metadata": {},
          "statement_descriptor": null,
          "fraud_details": {},
          "receipt_email": null,
          "receipt_number": null,
          "shipping": null,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_15Dn6uCP7OfzzeMeAq2egPia/refunds",
            "data": []
          }
        }
  recorded_at: Fri, 26 Dec 2014 01:41:49 GMT
recorded_with: VCR 2.9.2
