---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_15Dn8qCP7OfzzeMeHPicPhPF&description=payment%20from%20user4%2C%20user4%40email.com
    headers:
      Authorization:
      - Bearer sk_test_g9KW02Qtqasrw6Iu9Vj59gMm
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-12-17'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_15Dn8rCP7OfzzeMenlD5XOQ7"
          }
        }
  recorded_at: Fri, 26 Dec 2014 01:43:49 GMT
recorded_with: VCR 2.9.2
